// Define variables for your color scheme

// Classic colors
$red: #EE5F5B;
$blue: #00ACC1;
$yellow: #FFDE33;
$orange: #FF4D40;
$green: #1BE2B0;

// Various gray (from darker to lighter)
$mine-shaft: #222222;
$gray: #555555;
$light-gray: #DCDEE0;
$athens-gray: #F7F9FB; // Almost white

// Other branding colors
$trello-blue: #026AA7;

