<!-- app/views/devise/registrations/new.html.erb -->
<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Sign up with</h2>
        <p><%= render "devise/shared/links" %></p>
      </div>
    </div>
  </div>
</div>
