.right-side {
  background-color: $trello-blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  .illustration {
    height: 55vh;
    width: 65vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24)
  }
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  .header {
    bottom-margin: 20px;
  }
  .btn {
    width: 100%;
  }
}

