// Specific CSS for your home-page
.home-content {
  margin-top: 20px;
  padding: 0px 30px;
}

.pages {
  min-height: 80vh;
}

.home-boxes {
  position: relative;
  height: 78vh;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin-bottom: 30px;
  line-height: 25px;
}

.chart-boxes {
  position: relative;
  height: 78vh;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .home-boxes {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .chart-boxes {
    height: 45vh;
    padding: 0;
  }
}

.banner {
  background-position: center;
}

.usp {
  display: flex;
   justify-content: center;
  .title-home {
    margin-bottom: 20px;
  }
}

.copy {
  display: inline-block;
  align-items: center;
  margin-top: 20vh;
  .btn {
    margin-top: 15px;
    font-weight: bolder;
    padding: 10px 15px;
    background-border: none;
  }
}

.illustration {
  padding-left: 20px;
  display: inline-block;
  align-items: center;
  margin-top: 15vh;
}
@media only screen and (max-width: 767px) {
  .illustration {
    height: 10vh;
    padding-left: 0;
  }
}

.product-description {
  //display:flex
  background-color: white;
  padding: 10px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-radius: 2px;
  height: auto;
  min-height: 310px;
  h2 {
    font-size: 70px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 16px;
    font-weight : bolder;
  }
  .product-description-icon {
    padding: 20px 0px;
    text-align: center;
    vertical-align: center;
    height: 50%;
  }
  .product-description-title {
    text-align: center;
    margin: 10px 0px;
    height: 10%;
  }
  .product-description-content {
    padding: 0px 15px;
    height: 30%;
  }
}

.progressline {
  margin: 50px 100px;
}

@media only screen and (max-width: 767px) {
  .progressline {
    margin-left: 0;
    margin-right: 0;
  }
}

.team-cards {
  text-align: center;
  padding: 20px;
}

.card-profile {
  padding: 20px;
  text-align: center;
}

// PAGE KNOWLEDGE

.intermediary-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

//----- Header ------

.header {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .title{
    margin-bottom: 20px;
  }
}

//----- Sprint Process ------

.process {
  display: flex;
  // justify-content: space-around;
  width: 100%;
  height: 42vh;
.steps {
  display: flex;
  flex-direction: column;
  // margin: 2px;
  height: auto;
  align-items: stretch;
  .step-title {
    font-size: 14px;
    font-size: bolder;
    height:15%;
  }
  .step-content {
    height:85%;
    font-size: 12px;
  }
}
}

// ------ Sprint Awesome Style Guide ------

.size-card {
  width: 340px;
  height: 150px;
  margin: 10px;
  border-radius: 2px;
  background-size: cover !important;
  background-position: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  img {
    background-size: cover;
  }
}

//----- Teamplate ------


.template {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding-top: 60px;
  background-color: $trello-blue
}

.link-to-board-template {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
  margin-bottom: 40px;
}

.board-template {
  width: 160vh;
  height: 65vh;
  background-size: cover !important;
  transform: rotate(0deg)
}
