<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div class="chart burndow-chart">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
<p>This burndown chart shows your total work accomplishment regarding your sprint duration. You have already accomplished <%= @sprint.progress %> % of your total backlog.</p>
<div class="summary">
  <p>Discover your <strong><%= @sprint.total_days %> days</strong> sprint statistics</p>
</div>
