<div class="footer">
  <div class="footer-copyright">
    We strive for better Sprint management!
  </div>
  <div class="footer-links">
    <a href="https://github.com/mlrcbsousa/trello-project"><i class="fab fa-github"></i></a>
  </div>
</div>