<!-- _percentage.html.erb -->
<p>Base</p>
<div class="bar-base bar-frame iron">
  <div class="bar-content">
    <div class="bar">
      <div class="bar-progress blue"></div>
      <div class="bar-remain dove-gray"></div>
    </div>
    <div class="bar-percent text-center">
      <h4 class="roboto weight-300">70%</h4>
    </div>
  </div>
</div>

<p>Team progress</p>
<div class="bar-base-team bar-frame bar-frame-team iron">
  <div class="bar-content">
    <div class="bar-avatar text-center">
      <img src='https://kitt.lewagon.com/placeholder/users/sisserian' class="avatar avatar-sm"/>
    </div>
    <div class="bar">
      <div class="bar-progress blue"></div>
      <div class="bar-remain dove-gray"></div>
    </div>
    <div class="bar-percent text-center">
      <h2 class="montserrat weight-700">70%</h2>
    </div>
  </div>
</div>

<p>Profile progress</p>
<div class="bar-base-profile bar-frame bar-frame-team iron">
  <div class="bar-content">
    <div class="bar-avatar text-center">
      <img src='https://kitt.lewagon.com/placeholder/users/welan125' class="avatar avatar-md"/>
    </div>
    <div class="bar-subcontent">
      <div class="bar-description">
        <h3 class="montserrat">Chad Braderton</h3>
      </div>
      <div class="bar bar-profile">
        <div class="bar-progress blue"></div>
        <div class="bar-remain dove-gray"></div>
      </div>
    </div>
    <div class="bar-percent text-center">
      <h1 class="montserrat weight-700">70%</h1>
    </div>
  </div>
</div>
<hr>
