<!-- sidebar -->
<div id="sidebar" class="iron">
  <div class="logo">
    <a href=""><div class="circle avatar-sm background-color"></div></a>
  </div>

  <div id="sidebar-nav" class="sidebar-link">
    <a href=""><i class="fas fa-signal"></i></a>
    <a href=""><i class="fas fa-users"></i></a>
    <a href=""><i class="fas fa-user-circle"></i></a>
  </div>

  <div class="sidebar-link">
    <a href=""><i class="fab fa-trello"></i></a>
  </div>
</div>
