
<!-- _stat_card.html.erb -->
<div class="stat-card">
  <div class="stat-main">
    <div class="stat-value">
      <%= stat[:value] %>
    </div>
    <div class="stat-unit">
      <%= stat[:unit] if stat[:unit] %>
    </div>
  </div>
  <div class="stat-description">
    <%= stat[:name] %>
  </div>
</div>

<!-- stat-main danger -->
<!-- stat-main success -->
