<!-- _stats.html.erb -->
<div class="section-flex">
  <!-- with regular color font -->
  <div class="stat-card montserrat">
    <div class="stat-main">
      <h1>42%</h1>
    </div>
    <div class="stat-description">
      <h2>Bags of Chips</h2>
    </div>
  </div>

  <!-- with danger font -->
  <div class="stat-card montserrat">
    <div class="stat-main danger">
      <h1>12%</h1>
    </div>
    <div class="stat-description">
      <h2>Eating them</h2>
    </div>
  </div>

  <!-- with success color font -->
  <div class="stat-card montserrat">
    <div class="stat-main success">
      <h1>78%</h1>
    </div>
    <div class="stat-description">
      <h2>Santa has come</h2>
    </div>
  </div>

</div>
