<!-- _trello_card.html.erb -->
<div class="trello-card">
  <blockquote class="trello-board-compact">
    <a href="<%= type.trello_url %>"><%= type.name %></a>
  </blockquote>
  <a class="trello-card-overlay" href="#" ></a>
</div>
