<%= render 'shared/sidebar' %>
<div class="card-sprint">
  <div class="col-xs-12 col-sm-4">
    <div class="card-sprint">
      <div class="sprint-background">
        <p>To do</p>
      </div>
      <div class="sprint-info">
        <p>To do</p>
      </div>
    </div>
  </div>
</div>