<!-- _stats_dashboard.html.erb -->
<div class="dashboard">
  <div class="container">
    <div id="sprint-stats_js">
      <!-- SPRINT STATS (sprints/show) partial: _sprint_stats -->
      <%= render 'sprint_stats', sprint: (sprint ||= @sprint) %>
    </div>
    <div id="team-stats_js" class="hidden">
      <!-- TEAM STATS (sprints/show) partial: _team_stats -->
      <%= render 'team_stats', sprint: (sprint ||= @sprint) %>
    </div>
  </div>
</div>
