<div class="container">
  <h1>show all sprints</h1>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>
          <%= link_to 'Visualise your sprint', "sprints/show" %></li>
      </ul>
    </div>
  </div>
</div>
