<!-- views/sprints/index -->
<div class="container">
  <p>Choose which sprint to visualize</p>
  <div class="row">

    <% @sprints.each do |sprint| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/trello_card', type: sprint %>
        <%= link_to 'Visualise your sprint', sprint_path(sprint) %></li>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-sprint">
          <div class="card-sprint-background" style="background-image: linear-gradient(-225deg, rgba(120,97,97,0.5) 0%, rgba(155,197,193,0.2) 50%), url(<%= image_path('sprint.png') %>)">
            <%= link_to '', sprint_path(sprint), class: 'card-sprint-link' %>
          </div>
          <div class="card-sprint-description">
            <h3>SPRINT NAME</h3>
            <p>SPRINT DESCRIPTION</p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- required for the trello card -->
<script src="https://p.trellocdn.com/embed.min.js"></script>


