<!-- views/sprints/index -->
<div class="container">
  <p>Choose which sprint to visualize</p>
  <div class="row">

    <% @sprints.each do |sprint| %>
      <div class="col-xs-12 col-sm-6">

        <blockquote class="trello-board-compact">
          <a href="<%= sprint.trello_url %>"><%= sprint.name %></a>
        </blockquote>

        <%= link_to 'Visualise your sprint', sprints_path(sprint) %></li>
      </div>
    <% end %>

  </div>
</div>

<script src="https://p.trellocdn.com/embed.min.js"></script>

