<%= render 'shared/sidebar' %>
<div class="container">
  <div class="burndown">
    <h1>burndown of selected sprint</h1>
    <%= render 'shared/burndown' %>
  </div>
  <div class="stats">
    <h2>stats</h2>
    <%= render 'shared/percentage' %>
  </div>
  <div class="team">
    <h3>team overview</h3>
    <%= render 'shared/stats' %>
  </div>
</div>