<%= render 'shared/sidebar' %>
<div class="container">
  <div class="burndown">
    <h1>Current sprint burndown</h1>
    <%= render 'shared/burndown' %>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </li>
    <h3>Team breakdown</h3>
    <div class="stat-card">
      <%= render 'shared/pie' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Individual progress</h3>
      <div class="stat-card">
        <%= render 'shared/bar' %>
      </div>
    </div>
  </div>
</div>
</div>