<div id="refresh_show_<%= @sprint.id %>" class="refresh_show">
  <%= render 'stats_dashboard', sprint: @sprint %>
</div>
<!-- JAVASCRIPT HACKY CRACKY TO UPDATE WHICHEVER STATS SECTION I CHOOSE EVERY 5 SECONDS FOR NEW
INFORMATIN FROM THE SERVER -->
<script type="text/javascript">
  // const TIMEOUT = 10000;
  const div = document.querySelector(".refresh_show");
  const id = div.id.split('_')[2]
  const poll = () => {
    fetch(`/sprints/refresh/${id}`)
      .then(response => response.text())
      .then((data) => {
        div.innerHTML = ""
        div.insertAdjacentHTML("beforeend", data);
      });
  }
  // setInterval(poll, TIMEOUT);
</script>
