<div class="container">
  <div class="row">
    <h1><%= @sprint.name %></h1>

  </div>
  <div class="row">
    <!-- SPRINT STATS (sprints/show) partial: _sprint_stats -->
    <%= render 'sprint_stats', sprint: @sprint %>
  </div>
  <div class="row hidden">
    <!-- TEAM STATS (sprints/show) partial: _team_stats -->
    <%= render 'team_stats', sprint: @sprint %>
  </div>
  <div class="row hidden">
    <!-- MEMBER STATS (sprints/show) partial: _member_stats -->
    <%= render 'member_stats', sprint: @sprint %>
  </div>
</div>

