<%= render 'shared/navbar' %>
    <div class="container">
      <div class="row home-content">
        <div class="col-sm-12 col-md-6">
            <div class="home-boxes">
              <div class="copy">
                <h1>Tech companies</h1>
                <h1>Make your sprint visual</h1>
                <p>Sprint Awesome helps Product Owners organizing their sprints on Trello visualize their sprint progress</p>
                <a href="#" class="roboto btn btn-primary">Bondi Blue</a>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="home-boxes">
              <div class="illustration">
                <p>render 'shared/'</p>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="home-boxes">
              <h1>SPRINT AWESOME</h1>
              <p>Sprint Awesome helps Product Owners organizing their sprints on Trello visualize their sprint progress</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="home-boxes">
              <h1>SPRINT AWESOME</h1>
              <p>Sprint Awesome helps Product Owners organizing their sprints on Trello visualize their sprint progress</p>
            </div>
        </div>
  </div>
    <%= link_to 'begin onboarding', pick_path %>
