<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="home-content">
        <div class="col-xs-12 col-md-6">
          <div class="home-boxes usp">
            <div class="title-home">
              <h1>Product Owners</h1>
              <h1>Make your Trello Board Visual</h1>
            </div>
            <div class="title-home">
              <p>Sprint Awesome helps Product Owners organizing their sprints on Trello and visualizing their sprint progress</p>
            </div>
            <div class="title-home ">
              <%= link_to 'Visualize your Sprint Board', pick_path, class: "roboto btn btn-warning" %>
            </div>
          </div>
        </div>
        <div class="chart-boxes col-xs-12 col-md-6">
          <div class="illustration">
            <p><%= render 'shared/burndown' %></p>
          </div>
        </div>
        <!-- <div class="arrow">
          <h1><i class="fas fa-arrow-circle-down"></i></h1>
        </div> -->
      </div>
    </div>
    <div class="home-sub-title col-xs-12 text-center">
      <h3>Discover all you can do with Sprint Awesome</h3>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="product-description">
        <div class="product-description-icon color-green">
          <h2><i class="fas fa-eye"></i></h2>
        </div>
        <div class="product-description-title">
          <h3>Your sprint at a glance</h3>
        </div>
        <div class="product-description-content">
          <p>Giving you an instant overview of your teams progress to meet your objectives</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="product-description">
        <div class="product-description-icon color-yellow">
          <h2><i class="fas fa-chart-pie"></i></h2>
        </div>
        <div class="product-description-title">
          <h3>Track statistics</h3>
        </div>
        <div class="product-description-content">
          <p>Follow the most important statistics like total sprint weight, number of user stories, planned hours, etc.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="product-description">
        <div class="product-description-icon color-red">
          <h2><i class="fas fa-walking"></i></h2>
        </div>
        <div class="product-description-title">
          <h3>Measure team performance</h3>
        </div>
        <div class="product-description-content">
          <p>Congratulate and encourage your best contributors and help take actions to support the one falling behind.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="progressline">
        <h3 class="text-center">Visualize your product sprint in no time</h3>
        <div class="row line">
          <div class="col-xs-4 stepText1">
            <h3><i class="fab fa-trello"></i></h3>
            <p>Select</p>
          </div>
          <div class="col-xs-4 stepText2">
            <h3><i class="fas fa-sliders-h"></i></h3>
            <p>Configure</p>
          </div>
          <div class="col-xs-4 stepText3">
            <h3><i class="fas fa-chart-area"></i></h3>
            <p>Vizualise</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="step step1 active"></div>
          </div>
          <div class="col-xs-4">
            <div class="step step2"></div>
          </div>
          <div class="col-xs-4">
            <div class="step step3"></div>
          </div>
        </div>
        <br>
        <br>
        <div class="text-center">
          <%= link_to 'Configure your sprint NOW ! ', pick_path, class: "roboto btn btn-warning" %>
        </div>
        <!-- PREV & NEXT STEP BUTTONS
    <div class="autoCenter">
       <div id="prev">PREV STEP</div>
       <div id="next">NEXT STEP</div>
     </div> -->
      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="template text-center">
        <div class="ti">
          <h3>Discover our amazing Dashboad</h3>
        </div>
        <div class="board-template" style="background-image: url(<%= image_path('sprintawesome-product.png') %>);">
        </div>
      </div>
    </div>
  </div>
</div>