<div class="container">
  <div class="knowledge padding-top-15">
    <h1>Knowledge Base</h1>
    <p>In order to ensure smooth operation of the dashboard please adhere to the style guide below. We have also included anwers to the most frequently asked questions.</p>
  </div>
  <div class="style padding-top-15">
    <h2>Style Guide</h2>
    <div class="sizing padding-top-15">
      <h3>T shirt sizing</h3>
      <p>Label all backlog items with a T shirt size from XS to XXL, followed by a pipe.
        E.g. 'As a user I can visualise my sprint | XL'</p>
      <p><a href="https://trello.com/b/3u9aZLDj">We recommend using our Template board to get started!</a></p>
    </div>
  </div>
  <div class="faq padding-top-15">
    <h2>FAQ</h2>
    <ul>
      <li><strong>Q: Do I have to adhere to your style guide?</strong></li>
      <li>A: No! We support custom integrations allowing you to keep your existing conventions, please get in touch for a quote</li>
      <li><strong>Q: Why did you make this?</strong></li>
      <li>A: We all like living life on the limit, and needed a way to make sure we didn't cross the threshold of possible maximum work to do against remaining time</li>
      <li><strong>Q: You seem like a team of great guys / developers, can I hire you?</strong></li>
      <li>A: Yes! We are indeed a great bunch :) again please feel free to <a href="/about">get in touch</a></li>
      <li><strong>Q: Are there any other examples of your work?</strong></li>
      <li>A: Yes - check out our <a href="http://airdeskcoffee.herokuapp.com/">desk rental platform</a></li>
    </ul>
  </div>
</div>