<!-- <div class="container">
  <div class="row">
    <div class="pricing col-md-12">
      <div class="pricing-title text-center">
        <h2>Pricing</h2>
      </div>
  </div>
</div>
 -->
<div id="generic_price_table">
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h2>Sprint Awesome Pricing Table</h2>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">
            <%= render 'shared/pricing_packages' %>
        </div>
    </section>

  <div class="special-offer text-center">
    <p><strong>* Special offer:</strong> 12 months <strong>free</strong> access with promo code 'batch205' (valid until end of 2018)</p>
  </div>
</div>

</div>
