<div class="container">
  <div class="pricing padding-top-15">
    <h1>Pricing</h1>
    <div class="product-description col-xs-12 col-sm-6 col-md-4">
      <h2>Basic</h2>
      <p>Personal / open source use</p>
      <h3>Free</h3>
    </div>
    <div class="product-description col-xs-12 col-sm-6 col-md-4">
      <h2>Standard</h2>
      <p>Commercial use following our style guide</p>
      <h3>€10 per user, monthly</h3>
    </div>
    <div class="product-description col-xs-12 col-sm-6 col-md-4">
      <h2>Plus</h2>
      <p>Use your own sprint planning format</p>
      <h3>€20 per user, monthly</h3>
    </div>
  </div>
  <hr>
  <div class="pricing padding-top-15">
    <h3>Special offer: 12 months free access with promo code 'batch205' (valid until end of 2018)</h3>
  </div>
</div>