@import "sprint_stats";
@import "team_stats";

// ----- CSS FOR THE TITLE AND THE TITLE DESCRIPTION -----

// TEST
.sprint-list {
  // box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
}

.sprint-list-title {
  margin: 50px 0px;
  // padding: 20px;
}

.sprint-list-cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  // justify-content : center;
  margin: 20px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
    li {
      font-size: 12px;
      color: $gray;
      // text-decoration: none;
    }
}

.trello-board {
  margin-top: 10px;
}

.edits-and-updates {
  display: flex;
  justify-content : center;
  margin: 15px 0px;
  h1 {
    color: black;
  }
}


.call-to-actions {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .secondary-call-to-actions {
    padding-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
