// ---------- THIBAUT WORK CSS SHOW PAGE-------------

// *** MAIN CONTAINER ***

.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

// ** TOP OF THE PAGE **
.dashboard-header {
  // background-color: $gray;
  margin: 15px 0px;
  padding-top: 20px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 10;
  line-height: 2.5;
  h1 {
    color: $gray;
  }
  .btn {
    width: 150px;
  }
}

.dashboard-progress {
  // background-color: $green;
  grid-row: 2 / span 1;
  grid-column: 2 / span 10;
  // display: flex;
  // justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

// ** MID LEVEL PAGE (From left to right)**
.dashboard-burndown-chart {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  grid-row: 3 / span 6;
  grid-column: 2 / span 5;
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: fex;
  flex-direction: column;
  justify-content: space-around;
  // background-size: cover;
}

.dashboard-kpis {
  // background-color: $yellow;
  grid-row: 3 / span 6;
  grid-column: 7 / span 5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-left: 5px;
  flex-wrap: wrap;
}

.kpi {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-iterms: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  padding: 15px;
  margin: 5px;
  width: 160px;
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
  }
}

.time-kpi {
  border-top: 2px solid $green;
  i {
    color: $green;
  }
}

.cards-kpi {
  border-top: 2px solid $trello-blue;
  i {
    color: $trello-blue;
  }
}

.storypoints-kpi {
  border-top: 2px solid $yellow;
}

// ** BOTTOM LEVEL PAGE **

.dashboard-story-points {
  background-color: white;
  grid-row: 9 / span 7;
  grid-column: 2 / span 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15px;
  height: 100%;
}

.dashboard-story-points-subtitle {
  padding: 10px 0px;
  height: 15%;
}

.dashboard-story-points-info {
  display: flex;
  justify-content: space-between;
  height: 85%;
  width: 100%;
  .dashboard-story-points-info-graph-1 {
    // background-color: $blue;
    width: 50%;
    padding: 10px;
  }
  .dashboard-story-points-info-graph-2 {
    // background-color: $red;
    width: 50%;
    padding: 20px;
  }
}

// ----------- THIS SECOND PART IS FOR THE TEAM PAGE PERFORMACE PAGE ------------

// <!-- TOP -->
.team-performance-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.team-performance-header {
  margin: 15px 0px;
  padding-top: 20px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 10;
  line-height: 2.5;
  h1 {
    color: $gray;
  }
}

.team-progress {
  background-color: white;
  grid-row: 2 / span 1;
  grid-column: 2 / span 6;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.team {
  background-color : white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  padding: 20px;
  width: 97%;
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
  }
  i {
    font-size: 45px;
  }
}

.team-contributor {
  grid-row: 2 / span 1;
  grid-column: 8 / span 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.team-observer {
  // background-color : $blue;
  grid-row: 2 / span 1;
  grid-column: 10 / span 2;
  margin-left: 5px;
  margin-bottom: 10px;
}

// <!-- MIDDLE -->
.time-allocation-per-rank {
  background-color : white;
  grid-row: 3 / span 5;
  grid-column: 2 / span 6;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 15px 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.teams-contributors {
  background-color : $yellow;
  grid-row: 3 / span 9;
  grid-column: 8 / span 4;
  margin-left: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  border-radius: 1px;
  background-color: white;
  &.team-members {
    height: 100%;
    overflow: scroll;
  }
}

.full-graphs-1 {
  background-color : white;
  grid-row: 8 / span 4;
  grid-column: 2 / span 3;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full-graphs-2 {
  background-color : white;
  grid-row: 8 / span 4;
  grid-column: 5 / span 3;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// <!-- BOTTOM -->
.full-graphs-3 {
  background-color : white;
  grid-row: 12 / span 4;
  grid-column: 2 / span 3;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-graphs-4 {
  background-color : white;
  grid-row: 12 / span 4;
  grid-column: 5 / span 3;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-graphs {
  background-color : white;
  grid-row: 12 / span 4;
  grid-column: 8 / span 4;
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}


@media(max-width: 992px) {
  .dashboard-container {
    display: block;
  }
  .team-performance-container {
    display: block;
  }
}

// -------------------- MANUEL WORK CSS SHOW PAGE -----------------------

.stats-header {
  color: $gray;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid $light-gray;
  p {
    padding-bottom: 10px;
  }
  .stats-title {
    .stats-title-description {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .progress {
    margin-bottom: 10px;
  }
}
.graph-section {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  // &.team-members {
  //   height: 535px;
  //   overflow: scroll;
  // }
  .graph-section-title {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    background-color: $athens-gray;
    margin-bottom: 30px;
    h1 {
      padding: 5px 0;
      color: $gray;
      text-align: center;
    }
  }
  .graph-section-piechart {
    margin-top: 40px;
  }
  p {
    font-weight: 600;
    color: $gray;
    border-top: 0.5px dashed $light-gray;
    padding-top: 5px;
    margin-bottom: 3px;
  }
}
