// _team_stats.scss
.team-dashboard-title {
  display: flex;
  flex-direction: column;
  height: 12vh;
  align-items: center;
  justify-content: center;
  h1 {
    margin-bottom: 5px;
    color: $gray;
  }
}

.team {
  background-color : white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 97%;
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
  }
  i {
    font-size: 45px;
  }
}
.teams-contributors {
  background-color : $yellow;
  margin-left: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
  background-color: white;
  &.team-members {
    height: 100%;
    overflow: scroll;
  }
}
