// ----- BANNER HOMEPAGE -----
.banner {

  color: $mine-shaft;
  position: relative;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}

.loginbutton {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1 !important;
   a:hover {
      text-decoration: none;
    }

}
