// _sidebar.scss
#sidebar {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  background: white;
  transition: all 0.3s ease;
  width: 70px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a {
    color: $gray;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.5;
    padding: 5px;
    &:hover {
      transition: all 0.3s ease;
      font-size: 2rem;
      opacity: 1;
    }
  }
  .sidebar-top {
    .sidebar-logo {
      img {
        padding: 10px 0;
        margin-bottom: 10px;
      }
    }
    .sidebar-nav {
      text-align: center;
      #sidebar-tabs_js {
        display: flex;
        flex-direction: column;
        .tab-active_js {
          font-size: 2rem;
          opacity: 1;
        }
      }
      .sidebar-link-trello {
        &:hover {
          opacity: 1;
          color: $trello-blue;
        }
      }
    }
  }
  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



