// _sidebar.scss
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .logo{
    padding: 2rem;
  }
}
.margin-sidebar {
  /*width of the sidebar CANT SEEM TO MAKE THIS WORK*/
  margin-left: 120px;
}
#sidebar-nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-link a {
  color: #555555; /*dove-gray*/
  opacity: 0.5;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  &:hover {
    opacity: 1;
    color: #222222; /*mine-shaft*/
  }
}
