// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "sprints/index";

// for development
div {
  // border: 0.5px solid $green;
}

/*base*/
html {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-weight: 600;
    font-size: 2rem;
  }
}
.margin-left-80 {
  margin-left: 80px;
}
a {
  color: $gray;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
.text-primary {
  color: $blue;
}
.danger {
  color: $red;
}
.success {
  color: $green;
}
.noPadding {
  padding-left: 0;
  padding-right: 0;
}
