<div id="info">
  Numero random: <strong><%= rand(0...1000) %></strong>
</div>

<%= javascript_pack_tag 'application' %>
<script type="text/javascript">
  var TIMEOUT = 5000;

  function poll() {
    $.get('/testing/testing', function(data) {
      console.log(data);

      $('#info').replaceWith(data);
    });
  }

  setInterval(poll, TIMEOUT);
</script>
