<div class="container">
  <h1>show individuals stats</h1>
</div>
# statistics methods that you can call on member instances
@member.total_cards
@member.weighted_cards
@member.weighted_cards_count
@member.cards_per_size
@member.total_story_points
@member.progress
@member.story_points_progress
